<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Riyadh Dictionary</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    document.getElementById('search').addEventListener("submit", function (event) {
        const input = document.getElementById('searchbox').value;
        if (input === "") {
            alert("Input is required");
            event.preventDefault();
        }
    });
});
</script>
</head>
<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Riyadh Dictionary</h3>
      </div>

      <div class="jumbotron"><form style=""></form>


        <p></p>
          <form id="search" style="" action="/search" method="post">
              {{ form.hidden_tag() }}
              <div class="form-group">
                  {{ form.word.label(for="searchbox") }}
                  {{ form.word(id="searchbox", class="form-control") }}
                  {% if form.word.errors %}
                  {{ form.word.errors(class="alert-warning") }}
                  {% endif %}
              </div>
              {{ form.submit(class="btn btn-primary") }}
          </form>
          <p></p>
          {% if output %}
          <label for="output">Recommendation</label>
              <div contenteditable="false" id="output" readonly="readonly" style="border: solid #ccc; border-radius: 4px" class="container fill-height">
              {% for word in output %}
                  {{ word }}<br>
              {% endfor %}
              </div>
          {% endif %}
      </div>

      <div class="row marketing">


        <div class="col-lg-6">

        </div>
      </div>

      <footer class="footer">
        <p>Dalil</p>
      </footer>

    </div> <!-- /container -->


<div class="card" style="border: 1px dashed rgb(66, 133, 244);">		  		  		</div></body>
</html>